*{
   margin: 0;
   padding: 0%;
   font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #eee;

}
header{
    background: #56565f;

}
nav {
    background-color: #aaa;
    padding: 15px 0;


    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;

        li {
            a {
                color: rgb(12, 8, 224);
                text-decoration:none;
                background: #fff;
                padding: 5px;
                transition: all ease-in-out 0.3s;

                &:hover {
                    color: #fff;
                    background: rgb(4, 119, 4);

                }
            }
        }

    }
}